:root {
  --color-green_light: #c9e265;
  --color-blue_light: #38b6ff;
  --color-violet_dark: #011824;
}

/* Preloader */
#preloader{
  position: fixed;
  height:100vh;
  width: 100%;
  overflow: hidden;
  background: white;
}
#css3-spinner-svg-pulse-wrapper {
  position: absolute;
  overflow: hidden;
  width: 260px;
  height: 210px;
  top: 50%;
  left: 50%;
  margin-top: -105px;
  margin-left: -130px;
  animation: none;
  -webkit-animation: none;
}

#css3-spinner-svg-pulse {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -105px;
  margin-left: -275px;
}

#css3-spinner-pulse {
  stroke-dasharray: 281;
  animation: dash 5s infinite linear forwards;
  -webkit-animation: dash 5s infinite linear forwards;
}

/*Animation*/
@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 814;
  }

  to {
    stroke-dashoffset: -814;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 814;
  }

  to {
    stroke-dashoffset: -814;
  }
}
