input:focus::placeholder {
    color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 350px;
    height: 500px;
    margin: 70px auto;
    padding: 40px 30px 30px 30px;
    background: white;
}
